<div class="container">
  <div class="row">
    <div class="col-md-7 form-content">

      <div class="content">
        <div class="form-header">
          <h3>It's official! Grab your crown, it's time to airbnCastle!</h3>
          <p><%= "You've reserved your stay at #{@booking.castle.name}:" %></p>
          <br>
          <div class="container"><p><%= "#{Date::MONTHNAMES[@booking.start_date.month]} #{@booking.start_date.day}, #{@booking.start_date.year} " %></p>
                    <p><%= "#{@booking.no_of_nights} nights" %></p>
                    <p><%= "#{@booking.no_confirmed_guests} guests" %></p></div>
        </div>
    <%= link_to "See all my bookings", bookings_path, class: "btn show_button" %>
    <br>
    <%= link_to "Back to homepage", "/", class: "btn show_button" %>
      </div>

    </div>
    <div class="col-md-5">
      <div class="picture-container">
        <%= image_tag "airbncastle.png" %>

      </div>
    </div>
  </div>
</div>
