<div class="home-banner">
  <span id="banner-typed-text text-center"><h1>Airbncastle</h1>
    <br></span><button id="sweet-alert-demo" class="btn btn-primary"><%= link_to 'Discover the magic', castles_path, id: "sweet-alert-demo" %></button>
  </div>

  <div class="container icons">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="icon-card text-center">
          <div class="icon-pic"><%= image_tag "crown.png", height: 70, style: "padding-top: 20px" %></div>
          <h2>Put a crown on it</h2>
          <p>Feel like the royal you really are</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="icon-card text-center">
          <div class="icon-pic"><%= image_tag "wand.png", height: 70 %></div>
          <h2>Play with magic</h2>
          <p>Enchanted servants and quidditch pitches galore</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="icon-card text-center">
          <div class="icon-pic"><%= image_tag "sword.png", height: 70 %></div>
          <h2>Rule a kingdom</h2>
          <p>Take over Winterfell as King in the North</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="icon-card text-center">
          <div class="icon-pic"><%= image_tag "arms.png", height: 70 %></div>
          <h2>Start your dynasty</h2>
          <p>Bulters, servants, you name it. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-white padded">
    <h2>Castles of the day</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <% ca1 = Castle.where(name: "Disney Castle").first %>
          <%= link_to castle_path(ca1), :action => 'go' do %>
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('<%= cl_image_path ca1.photo, height: 400, crop: :fill %>');">
            <div class="card-category"><h5>ENTIRE CHATEAU</h5></div>
            <div class="card-description">
              <h3><%= ca1.name%></h3>
              <p><%= ca1.summary %></p>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4">
        <% ca2 = Castle.where(name: "Winterfell").first %>
          <%= link_to castle_path(ca2), :action => 'go' do %>
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('<%= cl_image_path ca2.photo, height: 400, crop: :fill %>');">
            <div class="card-category"><h5>ENTIRE CHATEAU</h5></div>
            <div class="card-description">
              <h3><%= ca2.name %></h3>
              <p><%= ca2.summary %></p>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-4">
        <% ca3 = Castle.where(name: "Hogwarts").first %>
          <%= link_to castle_path(ca3), :action => 'go' do %>
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('<%= cl_image_path ca3.photo, height: 400, crop: :fill %>');">
            <div class="card-category"><h5>ENTIRE CHATEAU</h5></div>
            <div class="card-description">
              <h3><%= ca3.name %></h3>
              <p><%= ca3.summary %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="newsletter text-center">
    <h2>Get news from us</h2>
    <p>Leave us your mail and get news from us</p>
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <input type="email" class="form-control" id="email" placeholder="bob@gmail.com">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
    </form>
  </div>


  <div class="text-center container mapping">
    <p>Come say hi! You can find us here:</p>
  </div>
    <div id="map" style="width: 100%; height: 400px;"></div>



  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(32.076505, 34.768219);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] with an array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>

