<div class="castle-form">
<%= simple_form_for(@castle) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name  %>
  <%= f.label :summary %>
  <%= f.text_field :summary  %>
  <%= f.association :city, collection: City.all.order(:name)  %>
  <%= f.input :price_per_night, as: :integer  %>
  <%= f.label :address %>
  <%= f.text_field :address  %>
  <%= f.input :no_of_guests, as: :integer, collection: 1..15 %>
  <%= f.input :no_of_bedrooms, as: :integer, collection: 1..15  %>
  <%= f.input :no_of_bathrooms, as: :integer, collection: 1..10  %>
  <%= f.association :amenities, as: :check_boxes  %>


  <%= f.submit%>
<% end %></div>
