
<div class="content">

  <!--   <%= link_to "Back to castles", castles_path, class: "btn btn-default show_button" %> -->
  <div class=" show_banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%), url('<%= cl_image_path @castle.photo %>');">
    <div class="banner-content">
      <h1><%= @castle.name %></h1>
    </div>
    <div class="banner-button-wrapper">
      <%= link_to castles_path do %>
      <button class="btn btn-primary show_button"> Back to Castles</button>
      <% end %>
      <%= link_to new_castle_booking_path(@castle) do %>
      <button class="btn btn-primary show_button"> Book this Castle</button>
      <% end %>
      <%= link_to edit_castle_path(@castle) do %>
      <button class="btn  show_button" id="edit_castle"> Edit Castle</button>
      <% end %>
      <%= link_to castle_path, method: :delete do %>
      <button class="btn  show_button" id="delete_castle">Delete Castle</button>
      <% end %>
    </div>
  </div>
</div>
<div class="main_container">
  <div class="details_grid">
    <div class="details_list">
      <h2> <%= @castle.summary %></h2>
      <p>Price per night: <%= @castle.price_per_night %> </p>
      <p>Number of guests: <%= @castle.no_of_guests %> </p>
      <p>Bedrooms: <%= @castle.no_of_bedrooms %>   |   Bathrooms: <%= @castle.no_of_bathrooms %></p>
    </div>
    <div class="amenities_grid">
      <h2>Amenities</h2>
      <div class="amenity_items_wrapper">
        <% @castle.amenities.each do |a| %>
        <div class="amenity_box">
          <%= image_tag(a.photo, class: "amenity_icon"); %><%=  a.name %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="reviews_grid">
      <h2>Review</h2>
      <div class="review_item">
        <%= @castle.review %>
      </div>
    </div>
  </div>
  <div>
    <div id="map2" ></div>
  </div>
</div>



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7E8a3m9Z3jp15dLjldxd9Es9-SJhct6Y"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(<%= @castle.latitude %>, <%=  @castle.longitude %>);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] with an array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map2'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>
